{% extends "projects_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">

    <h2>Welcome, {{ request.user.username }} 👋</h2>

    {% if val %}
        <p class="text-muted">You are logged in as a <strong>Student</strong></p>

        <div class="d-grid gap-2 col-6 mt-3">
            <a href="{% url 'project_list' %}" class="btn btn-primary">
                View Assignments
            </a>

            <a href="#" class="btn btn-outline-secondary">
                Check Feedback
            </a>
        </div>

    {% else %}
        <p class="text-muted">You are logged in as a <strong>Teacher</strong></p>

        <div class="d-grid gap-2 col-6 mt-3">
            <a href="{% url 'project_list' %}" class="btn btn-primary">
                View Assignments
            </a>

            <a href="{% url 'create_assignment' %}" class="btn btn-success">
                Create Assignment
            </a>

          
        </div>
    {% endif %}

</div>
{% endblock %}
